[submodule "decomposition/scara_moveit"]
	path = decomposition/scara_moveit
	url = https://github.com/Yao-Xinchen/scara_moveit
[submodule "perception/ahrs_feedback/serial"]
	path = perception/ahrs_feedback/serial
	url = https://github.com/jinmenglei/serial_ros2
[submodule "perception/solais_vision"]
	path = perception/solais_vision
	url = https://github.com/Meta-Team/Meta-Vision-SolaisNG
	branch = integrated
[submodule "execution/motor_controller/thirdparty/pybind11"]
	path = execution/motor_controller/thirdparty/pybind11
	url = https://github.com/pybind/pybind11
[submodule "decomposition/wheel_leg_rl"]
	path = decomposition/wheel_leg_rl
	url = https://github.com/Yao-Xinchen/Meta-WL
[submodule "perception/cserialport_wrapper/CSerialPort"]
	path = perception/cserialport_wrapper/CSerialPort
	url = https://github.com/itas109/CSerialPort.git
