[submodule "decomposition/scara_moveit"]
	path = decomposition/scara_moveit
	url = https://github.com/Yao-Xinchen/scara_moveit
[submodule "perception/ahrs_feedback/serial"]
	path = perception/ahrs_feedback/serial
	url = https://github.com/jinmenglei/serial_ros2
[submodule "perception/solais_vision"]
	path = perception/solais_vision
	url = https://github.com/Meta-Team/Meta-Vision-SolaisNG
	branch = integrated
[submodule "perception/engineer_vision"]
	path = perception/engineer_vision
	url = https://github.com/Yao-Xinchen/engineer_vision
