<?xml version="1.0"?>
<robot name="standard" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:arg name="is_simulation" default="true" />

    <link name="base_footprint">
    </link>

    <!-- raise the robot a bit higher to prevent it from stucking in the ground -->
    <joint name="joint_base_to_footprint" type="fixed">
        <origin rpy="0 0 0" xyz="0 0 1" />
        <parent link="base_footprint" />
        <child link="base_link" />
    </joint>
    <xacro:include filename="$(find metav_description)/urdf/standard/standard.chassis.xacro" />
        
    <xacro:chassis roller_type="none" />
    <ros2_control name="dji_motors_chassis" type="system">
        <hardware>
            <plugin>meta_hardware/MetaRobotDjiMotorNetwork</plugin>
            <param name="can_network_name">can0</param>
        </hardware>
        <xacro:wheel_transmission prefix="front_left" mechanical_reduction="20.0" motor_id="2" />
        <xacro:wheel_transmission prefix="front_right" mechanical_reduction="20.0" motor_id="1" />
        <xacro:wheel_transmission prefix="back_left" mechanical_reduction="20.0" motor_id="3" />
        <xacro:wheel_transmission prefix="back_right" mechanical_reduction="20.0" motor_id="4" />
        <xacro:wheel_transmission prefix="dummy_yaw" mechanical_reduction="36.0" motor_id="5" />
    </ros2_control>

</robot>