<?xml version="1.0"?>
<robot name="single_motor" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:arg name="is_simulation" default="true" />

    <link name="base_footprint">
    </link>

    <!-- raise the robot a bit higher to prevent it from stucking in the ground -->
    <joint name="joint_base_to_footprint" type="fixed">
        <origin rpy="0 0 0" xyz="0 0 0.2" />
        <parent link="base_footprint" />
        <child link="base_link" />
    </joint>

    <link name="base_link" />

    <xacro:include filename="$(find metav_description)/urdf/playground/motor.xacro" />
    <xacro:motor name="motor" connected_to="base_link" x="0" y="0" />

    <xacro:if value="$(arg is_simulation)">
        <ros2_control
            name="multiple_motors_control" type="system">
            <hardware>
                <plugin>ign_ros2_control/IgnitionSystem</plugin>
                
            </hardware>
            <joint name="motor_joint">
                <command_interface name="velocity" />
                <state_interface name="position" />
                <state_interface name="velocity" />
            </joint>
        </ros2_control>
    </xacro:if>

    <xacro:unless value="$(arg is_simulation)">
        <!-- <ros2_control name="single_motor_control" type="system">
            <xacro:if value="$(arg is_simulation)">
                <hardware>
                    <plugin>ign_ros2_control/IgnitionSystem</plugin>
                </hardware>
            </xacro:if>
            <xacro:unless value="$(arg is_simulation)">
                <hardware>
                    <plugin>meta_hardware/MetaRobotDjiMotorNetwork</plugin>
                    <param name="can_network_name">can0</param>
                </hardware>
            </xacro:unless>
            <joint name="motor_joint">
                <command_interface name="effort" />
                <state_interface name="position" />
                <state_interface name="velocity" />
                <state_interface name="effort" />
                <param name="motor_model">M3508</param>
                <param name="motor_id">1</param>
                <param name="mechanical_reduction">1.0</param>
                <param name="offset">0.0</param>
            </joint>
        </ros2_control> -->

        <ros2_control
            name="power_test" type="system">
            <hardware>
                <plugin>meta_hardware/MetaRobotIm1253cManager</plugin>
                <param name="baud_rate">4800</param>
                <param name="flow_control">none</param>
                <param name="parity">none</param>
                <param name="stop_bits">1.0</param>
                <param name="device_name">/dev/ttyUSB0</param>
            </hardware>
            <sensor name="im1253c">
                <state_interface name="voltage" />
                <state_interface name="current" />
                <state_interface name="power" />
            </sensor>
        </ros2_control>
    </xacro:unless>
</robot>