<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="meta_arm">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import meta_arm urdf file -->
    <xacro:include filename="$(find meta_arm_urdf)/urdf/meta_arm.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="meta_arm.ros2_control.xacro" />


    <xacro:meta_arm_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
