<?xml version="1.0"?>
<robot name="sentry" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:arg name="is_simulation" default="true" />

    <link name="base_footprint">
    </link>

    <!-- raise the robot a bit higher to prevent it from stucking in the ground -->
    <joint name="joint_base_to_footprint" type="fixed">
        <origin rpy="0 0 0" xyz="0 0 1" />
        <parent link="base_footprint" />
        <child link="base_link" />
    </joint>

    <xacro:include filename="$(find metav_description)/urdf/sentry/sentry.chassis.xacro" />
    <xacro:if value="$(arg is_simulation)">
        <xacro:chassis roller_type="simple" />
    </xacro:if>
    <xacro:unless value="$(arg is_simulation)">
        <xacro:chassis roller_type="none" />
    </xacro:unless>

    <xacro:include filename="$(find metav_description)/urdf/sentry/sentry.gimbal.xacro" />
    <xacro:gimbal />

    <xacro:include filename="$(find metav_description)/urdf/sentry/sentry.shooter.xacro" />
    <xacro:shooter />

    <xacro:include filename="$(find metav_description)/urdf/common/sensor_imu.xacro" />
    <xacro:sensor_imu connected_to="pitch_gimbal" imu_name="gimbal_imu" xyz="0 0 0.1"
        rpy="0 0 0" />

    <xacro:include filename="$(find metav_description)/urdf/common/sensor_mid360.xacro" />
    <xacro:sensor_mid360 connected_to="yaw_gimbal" name="livox_frame" xyz="0.1687 0 0.11"
        rpy="0 0.2269 0" />

    <xacro:unless value="$(arg is_simulation)">
        <ros2_control name="dji_motors" type="system">
            <hardware>
                <plugin>meta_hardware/MetaRobotDjiMotorNetwork</plugin>
                <param name="can_network_name">can1</param>
            </hardware>
            <xacro:wheel_transmission prefix="front" mechanical_reduction="20.0" motor_id="1" />
            <xacro:wheel_transmission prefix="right" mechanical_reduction="20.0" motor_id="3" />
            <xacro:wheel_transmission prefix="left" mechanical_reduction="20.0" motor_id="4" />
            <xacro:wheel_transmission prefix="back" mechanical_reduction="20.0" motor_id="2" />
            <xacro:gimbal_transmission prefix="yaw" mechanical_reduction="1.0" offset="0.25"
                motor_id="5" />
            <xacro:gimbal_transmission prefix="pitch" mechanical_reduction="-1.0" offset="0.0"
                motor_id="6" />
            <xacro:shooter_transmission prefix="fric1" mechanical_reduction="1.0" offset="0.25"
                motor_id="5" />
            <xacro:shooter_transmission prefix="fric2" mechanical_reduction="-1.0" offset="0.0"
                motor_id="6" />
            <xacro:shooter_transmission prefix="loader" mechanical_reduction="36.0" offset="0.0"
                motor_id="7" />
        </ros2_control>
    </xacro:unless>

    <xacro:if value="$(arg is_simulation)">
        <ros2_control name="sentry_control" type="system">
            <hardware>
                <plugin>ign_ros2_control/IgnitionSystem</plugin>
            </hardware>
            <xacro:wheel_transmission prefix="front" mechanical_reduction="20.0" motor_id="1" />
            <xacro:wheel_transmission prefix="right" mechanical_reduction="20.0" motor_id="3" />
            <xacro:wheel_transmission prefix="left" mechanical_reduction="20.0" motor_id="4" />
            <xacro:wheel_transmission prefix="back" mechanical_reduction="20.0" motor_id="2" />
            <xacro:gimbal_transmission prefix="yaw" mechanical_reduction="1.0" offset="0.25"
                motor_id="5" />
            <xacro:gimbal_transmission prefix="pitch" mechanical_reduction="-1.0" offset="0.0"
                motor_id="6" />
        </ros2_control>
    </xacro:if>

    <xacro:if value="$(arg is_simulation)">
        <xacro:include filename="$(find metav_description)/urdf/sentry/sentry.gazebo.xacro" />
    </xacro:if>
</robot>